html {
  scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Animation: Fade In Up */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeInUp 0.8s ease-out forwards;
}

.animate-fade-in-delay {
  animation: fadeInUp 0.8s ease-out 0.2s forwards;
  /* Delays it slightly */
  opacity: 0;
  /* Hidden before animation starts */
}